<section class="hero">
  <div class="hero-container d-flex flex-column flex-md-row align-items-center">
    
    <!-- Text -->
    <div class="text-content me-md-5 mb-4 mb-md-0">
      <h1 class="text-uppercase">{{ texts.heroHeadline | replace: '. ', '.<br>' }}</h1>
      <p>{{ texts.heroSub }}</p>
    </div>

    <!-- Image -->
    <div class="hero-image-wrapper">
      <img src="/assets/images/fedB&W.jpg" alt="fedDSP hero image" class="img-fluid rounded-4">
    </div>

  </div>
</section>

