<div class="navbar-wrapper bg-black sticky-top">
  <nav class="navbar navbar-expand-md sticky-top restrict-width" style="--nav-x: var(--container-x-margin);">
    <div class="container-fluid d-flex justify-content-between align-items-center" style="padding-inline: var(--nav-x);">

      <a class="navbar-brand" href="/">
        <img
          src="/assets/images/icons/fedDSP_logo_text_small_WonB.png"
          alt="fedDSP logo"
          class="nav-logo"
        >
      </a>

      <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
        aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarMain">
        <ul class="navbar-nav mb-0 align-items-center">

          <li class="nav-item">
            <a class="nav-link" href="/products/phaturator/">PHATurator</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Samples
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/samples/etna/">ETNA</a></li>
              <li><a class="dropdown-item" href="/samples/cronos/">CRONOS</a></li>
              <li><a class="dropdown-item" href="/samples/typhon/">TYPHON</a></li>
              <li><a class="dropdown-item" href="/samples/theia/">THEIA</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              IRs
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/irs/atlas/">ATLAS</a></li>
              <li><a class="dropdown-item" href="/irs/gaia/">GAIA</a></li>
              <li><a class="dropdown-item" href="/irs/hyperion/">HYPERION</a></li>
              <li><a class="dropdown-item" href="/irs/bloodmoon/">BLOODMOON</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/downloads/">Downloads</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/founders/">Founder's Club</a>
          </li>

          <li class="nav-item ms-3 mt-lg-0">
            <a class="nav-link account-icon" href="/account/">
              <i class="bi bi-person-fill"></i>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</div>