<div class="navbar-wrapper sticky-top">
  <nav class="navbar navbar-expand-lg sticky-top restrict-width" style="--nav-x: var(--container-x-margin);">
    <div class="container-fluid d-flex justify-content-between align-items-center" style="padding-inline: var(--nav-x);">

      <a class="navbar-brand" href="/">
        <img
          src="/assets/images/icons/fedDSP_logo_text_small_WonB.png"
          alt="fedDSP logo"
          class="nav-logo"
        >
      </a>

      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
        aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarMain">
        <ul class="navbar-nav mb-0 align-items-end align-items-lg-center">

          <li class="nav-item">
            <a class="nav-link" href="/products/phaturator/">PHATurator</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Samples
            </a>
            <ul class="dropdown-menu">
              {% assign sample_packs = products | where: "type", "sample" %}
              {% for pack in sample_packs %}
                {% if pack.active %}
                  <li><a class="dropdown-item" href="/samples/{{ pack.id }}/">{{ pack.name }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              IRs
            </a>
            <ul class="dropdown-menu">
              {% assign ir_packs = products | where: "type", "ir" %}
              {% for pack in ir_packs %}
                {% if pack.active %}
                  <li><a class="dropdown-item" href="/irs/{{ pack.id }}/">{{ pack.name }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/downloads/">Downloads</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/founders/">Founder's Club</a>
          </li>

          <li class="nav-item ms-3 mt-lg-0">
            <a class="nav-link account-icon" href="/account/">
              <i class="bi bi-person-fill"></i>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</div>