---
layout: layouts/base.liquid
---

{% assign _id = page.fileSlug %}
{% assign product = null %}
{% for p in products %}
  {% if p.id == _id %}
    {% assign product = p %}
    {% break %}
  {% endif %}
{% endfor %}

{% if product == null %}
  <section class="container py-5 text-center">
    <h1>Product not found</h1>
  </section>
{% else %}

<div class="product-page-v2" 
    style="--hero-gradient-start: {{ product.gradientStart }}; 
          --hero-gradient-end: {{ product.gradientEnd }};
          --hero-gradient2-start: {{ product.gradient2Start }};
          --hero-gradient2-end: {{ product.gradient2End }};
    ">

  {% include "components/products/hero.liquid" %}
  
  {% include "components/products/overview.liquid" %}
  
  {% include "components/products/audio-player.liquid" %}
  
  {% include "components/products/testimonials.liquid" %}
  
  {% include "components/products/features.liquid" %}
  
  {% include "components/products/tech-specs.liquid" %}
  
  {% include "components/products/faq.liquid" %}

</div>

{% endif %}

<script src="/assets/js/animate-reveal.js"></script>