<div id="sticky-product-footer" class="sticky-footer-wrapper">
  <div class="container d-flex justify-content-center justify-content-md-between align-items-center">
    
    <div class="d-none d-md-block">
      <img src="{{ product.logo }}" alt="{{ product.name }}" class="sticky-footer-logo">
    </div>

    <div class="d-flex gap-3 align-items-center">
       <a href="{{ product.buyLink }}" class="btn btn-pill btn-brand-solid btn-sm">
         BUY
       </a>
       <a href="{{ product.demoLink | default: '#' }}" class="btn btn-pill btn-grey-solid btn-sm">
         TRY IT FOR FREE
       </a>
    </div>

  </div>
</div>