<section class="product-videos">
  <div class="container text-center">
    {% for video in product.videos %}
      <div class="ratio ratio-16x9 product-video-wrap">
        <iframe
          src="{{ video.embed }}"
          title="{{ product.name }} video {{ forloop.index }}"
          allowfullscreen
          class="rounded-4 border-0">
        </iframe>
      </div>
    {% endfor %}
  </div>
</section>

{% if product.background %}
  <style>
    .product-videos {
      --product-bg: url('{{ product.background }}');
    }
  </style>
{% endif %}
