{% assign free_items = products | where: "isFree", true %}

<section class="free-carousel-section text-center">
  <div class="container restrict-width">

    <div class="swiper free-swiper mb-5">
      <div class="swiper-wrapper">

        {% for item in free_items %}
        <div class="swiper-slide">
          
          <a href="#" 
             class="sample-card d-block position-relative text-decoration-none text-white"
             data-bs-toggle="modal" 
             data-bs-target="#newsletterModal">

            <div class="sample-card-img-wrap rounded-4 overflow-hidden">
              {% image item.assets.heroImage, item.name, "(min-width: 768px) 33vw, 90vw", "img-fluid w-100" %}
              
              <div class="position-absolute top-50 start-50 translate-middle opacity-0 hover-opacity-100 transition-opacity">
                 <span class="btn btn-primary btn-sm text-uppercase">Get Free Pack</span>
              </div>
            </div>

          </a>
        </div>
        {% endfor %}

      </div>

    </div>


    <div class="mx-auto" style="max-width: 600px">
      <h2 class="font-header text-uppercase text-white mb-4">
        Want some <span class="brand-green">Free</span> Swag? We've got you.
      </h2>

      <div>
        {% assign paragraphs = texts.index.free | split: "\n" %}
        {% for paragraph in paragraphs %}
          <p class="mb-2">{{ paragraph }}</p>
        {% endfor %}
      </div>
    </div>

  </div>
</section>