<section id="hero" class="restrict-width">
  <div class="hero-container d-flex flex-column flex-md-row align-items-center">
    
    <!-- Text -->
    <div class="text-content me-md-5 mb-4 mb-md-0">
      <h1 class="text-uppercase mb-4">{{ texts.heroHeadline | newline_to_br }}</h1>
      {% assign lines = texts.heroSub | split: "\n" %}
        {% for line in lines %}
          <p>{{ line }}</p>
        {% endfor %}
    </div>

    <!-- Image -->
    <div class="hero-image-wrapper">
      <img src="/assets/images/fedB&W.jpg" alt="fedDSP hero image" class="img-fluid rounded-4">
    </div>

  </div>
</section>

